.dropdown dd, .dropdown dt, .dropdown ul { margin:0px; padding:0px; }
.dropdown dd { position:relative; }
.dropdown input, .dropdown input:visited { color:#816c5b; text-decoration:none; outline:none;}
.dropdown input:hover { color:#5d4617;}
.dropdown dt input:hover { color:#5d4617; border: 1px solid #d0c9af;}
.dropdown dt input {/*background-color:#e4dfcb; */background:#e4dfcb url(arrow.png) no-repeat scroll right center; display:block; padding-right:2px;
                border:1px solid #d4ca9a; width:160px; padding:1px;}
.dropdown dt input span {cursor:pointer; display:block;}

.dropdown dd ul {  background:#e4dfcb none repeat scroll 0 0; border:1px solid #d4ca9a; color:#C5C0B0; display:none;
                  left:0px; padding:0px 0px; position:absolute; top:22px; width:auto; min-width:170px; width:300px;height:300px; list-style:none;}
.dropdown span.value { display:none;}
.dropdown dd ul li a { padding:0px; display:block;width:300px;}
.dropdown dd ul li a:hover { background-color:#d0c9af;}

.dropdown img.flag { border:none; vertical-align:middle; margin-left:10px; }
.flagvisibility { display:none;}